html   
    head
        title="Show Details"
        
    body 
        table 
            tr 
                th="Name"
            for mem in memList 
                tr 
                    td= mem.name

        